*.aux
*.bbl
*.blg
*.fls
*.lof
*.log
*.lot
*.toc
*.synctex.gz
*.fdb_latexmk
_minted-relatorio-projeto/default.pygstyle
_minted-relatorio-projeto/9D42636F61E2455AED48F585EFF7DAE64BF3C7928B10B54ED6E162C29D45E776.pygtex
_minted-relatorio-projeto/05582FD74155150AAD47BDF7BFB1B2644BF3C7928B10B54ED6E162C29D45E776.pygtex
_minted-relatorio-projeto/default-pyg-prefix.pygstyle
