*.aux
*.bbl
*.blg
*.fls
*.lof
*.log
*.lot
*.toc
*.synctex.gz
*.fdb_latexmk
_minted-relatorio-projeto/*
req-relatorio-v10.ods
relatorio-projeto.out
bibliografia.bib
old_capitulo-2.tex
.gitignore
Dissertacao-Comunitaria.bib
Dissertacao-Hospitalar.bib
Dissertacao-Investigacao.bib
Dissertacao.bib
Raquel.bib
relatorio-projeto.bcf
